development:
  adapter: postgresql
  encoding: unicode
  database: kosynierzy.info_development
  pool: 5
  username: kosynierzy.info
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: kosynierzy_test
  pool: 5
  username: postgres
  password:
